/* ABOUT PAGE STYLING */

form {
  align-self: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

form > button {
  border: none;
  border-radius: 6px;
  height: 1.4rem;
  background-color: darkblue;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

li {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}

p {
  margin-top: 0.1px;
  color: darkblue;
  text-transform: none;
  font-weight: 400;
}

ul {
  list-style: none;
  padding: 2rem;
  margin: 0;
}

.information {
  border: solid 2px black;
}

@media screen and (min-width: 430px) {
  body {
    max-height: 1500px;
    color: darkblue;
    font-size: 1.5rem;
  }

  img {
    height: 21rem;
    width: 14rem;
  }
}
