* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  color: darkblue;
  font-family: 'Barlow';
  background-color: #d1daf8;
  margin: 0;
}

.pattern {
  background-image: url('/img/keypatternlong.png');
  height: 95px;
  margin-top: 60px;
}

/* CONTENT STYLING */

main {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

img {
  width: 100%;
}

.akropolis_small {
  margin-bottom: 20px;
}

.akropolis_large {
  display: none;
}

.definition {
  width: 80%;
  margin-bottom: 20px;
  text-align: justify;
}

.question {
  margin: 2rem;
  font-weight: 600;
}

.information {
  margin: 10px;
  background-image: url('/img/laura.jpg');
  border-radius: 20px;
  width: 272px;
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 10px 10px 15px black;
}
/* Background Image by <a href="https://unsplash.com/@lkb222?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Laura B</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
   */

.name {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 0.25rem;
  font-weight: 500;
}

.monster_image {
  height: 15rem;
  width: 10rem;
  border-radius: 6px;
  transition: 0.5s ease;
  box-shadow: 5px 5px 10px black;
  margin: 1rem;
  margin-top: 0;
}

img:hover {
  opacity: 100%;
}

footer {
  left: 0px;
  bottom: 0px;
  height: 115px;
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 430px) {
  body {
    max-height: 1500px;
    color: darkblue;
    font-size: 1.5rem;
  }

  .akropolis_small {
    display: none;
  }

  .akropolis_large {
    display: block;
    margin-top: 20px;
  }

  .monster_img {
    height: 21rem;
    width: 14rem;
  }
}
