* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-size: 12px;
  color: white;
  font-family: 'Poppins';
  background-image: url('/img/laura.jpg');
}
/* Background Image by <a href="https://unsplash.com/@lkb222?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Laura B</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
   */

/* Blue picture:
Photo by <a href="https://unsplash.com/@jawfox_photography?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Alexander Jawfox</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
   */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 10px 10px;
}

.evil {
  margin-top: 3rem;
}

.info {
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
}

img {
  height: 15rem;
  width: 10rem;
  border-radius: 6px;
  transition: 0.5s ease;
}

img:hover {
  opacity: 60%;
}

.evil:hover + .info {
  background-color: lightcoral;
}

footer {
  text-align: center;
}

@media screen and (min-width: 430px) {
  body {
    color: darkblue;
    font-size: 1.5rem;
    margin-left: 5rem;
    margin-right: 10rem;
  }
  img {
    height: 21rem;
    width: 14rem;
  }
}
