/* HEADER STYLING  */

nav {
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 4rem;
  top: 0px;
  display: flex;
  justify-content: center;
  gap: 10px;
  background-image: url('/img/laura.jpg');
}
/* Background Image by <a href="https://unsplash.com/@lkb222?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Laura B</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
   */
/* Favicon image by https://www.flaticon.com/authors/freepik */

.menu {
  margin-top: 0.6rem;
}

.menu > div {
  width: 2.5rem;
  height: 0.25rem;
  background-color: white;
  border-radius: 6px;
  margin: 0.4rem;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: darkblue;
  opacity: 80%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

h1 {
  font-size: 1.35rem;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}

h1 a:hover {
  color: darkblue;
}

.menu_bar {
  display: none;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.pattern {
  background-image: url('/img/keypatternlong.png');
  height: 95px;
  margin-top: 60px;
}

@media screen and (min-width: 870px) {
  h1 {
    margin-right: 0;
  }

  .dropdown {
    display: none;
  }

  .menu_bar {
    display: inline;
    list-style-type: none;
    margin-top: -1rem;
    padding-right: 0;
    padding-left: 0;
  }

  .menu_bar > li {
    display: inline;
    padding: 0.5rem;
    font-size: 1.2rem;
  }

  li > a:hover {
    color: darkblue;
  }
}
